docs/n8n-workflow.json
{
  "name": "Greenlight — Approval Gate (reference)",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a1c000-0000-4000-8000-000000000001",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://greenlight.example.com/api/requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.GREENLIGHT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Disk cleanup on server1\",\n  \"description\": \"About to delete 42GB of old logs in /var/log. Approve to proceed.\",\n  \"source\": \"n8n-maintenance\",\n  \"category\": \"cleanup\",\n  \"priority\": \"normal\",\n  \"timeout_seconds\": 3600,\n  \"default_action\": \"reject\",\n  \"resume_url\": \"{{ $execution.resumeUrl }}\",\n  \"metadata\": { \"server\": \"server1\", \"path\": \"/var/log\" }\n}",
        "options": {}
      },
      "id": "b1a1c000-0000-4000-8000-000000000002",
      "name": "Request approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "webhookSuffix": ""
        }
      },
      "id": "b1a1c000-0000-4000-8000-000000000003",
      "name": "Wait for decision",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ],
      "webhookId": "greenlight-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ $json.body.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b1a1c000-0000-4000-8000-000000000004",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {},
      "id": "b1a1c000-0000-4000-8000-000000000005",
      "name": "Run the action (approved)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {},
      "id": "b1a1c000-0000-4000-8000-000000000006",
      "name": "Log & stop (rejected)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        400
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Request approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request approval": {
      "main": [
        [
          {
            "node": "Wait for decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for decision": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Run the action (approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log & stop (rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
